<div class="d-flex justify-content-center mt-3">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>
        
            <!-- <div class="form-label-group">
                <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address">
                <label for="inputEmail">Email address</label>
                <span class="text-danger" 
                    *ngIf="loginForm.get('email').invalid 
                    && loginForm.get('email').touched
                    && loginForm.get('email').errors['required']">
                    Email Address is Required!
                </span>
                <span class="text-danger" 
                    *ngIf="loginForm.get('email').invalid 
                    && loginForm.get('email').touched
                    && loginForm.get('email').errors['pattern']">
                    Email Address is Not Valid!
                </span>
            </div> -->
        
            <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
        
            <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
    
</div>
